<div style="display: flex; align-items: center; justify-content:center; height: 90vh;">
  <ul style="list-style: none; padding: 0; display: flex; flex-direction: column; width: 300px;">
    <li style="background-color: #FF5733; margin: 5px; text-align: center; padding: 10px;">
      <a href="/login" style="text-decoration: none; color: white; display: block; background-color: #BF3D00; padding: 10px; border-radius: 5px;">Login</a>
    </li>
    <li style="background-color: #33FF57; margin: 5px; text-align: center; padding: 10px;">
      <a href="/ctt-registration" style="text-decoration: none; color: white; display: block; background-color: #1F8C00; padding: 10px; border-radius: 5px;">CTT Registration</a>
    </li>
    <li style="background-color: #5733FF; margin: 5px; text-align: center; padding: 10px;">
      <a href="/student-login" style="text-decoration: none; color: white; display: block; background-color: #3B0066; padding: 10px; border-radius: 5px;">Student Login</a>
    </li>
  </ul>
</div>
